<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://www.mcgill.ca">
              {{navbar.title}}
            </a>
            {{# github }}
            <iframe class="pull-right" style="margin-top:10px;" src="http://ghbtns.com/github-btn.html?user={{user}}&repo={{repo}}&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
            <iframe class="pull-right" style="margin-top:10px;" src="http://ghbtns.com/github-btn.html?user={{user}}&repo={{repo}}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
            {{/ github }}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{# navbar.items }}
                    <li class="{{ class }}">
                      <a href="{{ href }}" {{#dropdown}}class="dropdown-toggle"
                        data-toggle="dropdown"{{/dropdown}}>
                        {{# icon }}<i class="icon-{{.}}"> </i>{{/ icon}}
                        {{{ item }}}
                        {{#dropdown}}<b class="caret"></b>{{/dropdown}}
                      </a>
                      {{#dropdown}}
                      <ul class="dropdown-menu">
                      	{{#menu}}
                      	  <li>
                      	    <a href="{{href}}">
                      	     {{# icon }}<i class="icon-{{.}}"> </i>{{/ icon}}
                      	     {{{ item }}}
                      	    </a>
                      	  </li>
                      	{{/menu}}
                      </ul>
                      {{/dropdown}}
                    </li>
                    {{/ navbar.items }}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


