export(author)
export(includeDeck)
export(parse_deck)
export(render_page)
export(render_pages)
export(runDeck)
export(publish)
export(publish_dropbox)
export(publish_gist)
export(publish_github)
export(publish_rpubs)
export(blogify)
export(pagify)
export(slidify)
export(slidify_text)
export(view_deck)
export(knit2slides)
import(knitr)
import(markdown)
import(stringr)
import(whisker)
import(yaml)
