export(create_deck)
export(publish_deck)
export(publish_github)
export(publish_rpubs)
export(publish_dropbox)
export(slidify)
export(slidifyRpubs)
export(minify_css)
import(knitr)
import(markdown)
import(stringr)
import(whisker)
import(yaml)
