<div style="position: fixed; bottom: 10px; left: 10px; pointer-events: auto;">
  {{#github}}
  <iframe src="http://ghbtns.com/github-btn.html?user={{user}}&repo={{repo}}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  <iframe src="http://ghbtns.com/github-btn.html?user={{user}}&repo={{repo}}&&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  {{/github}}
  {{# twitter }}
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{text}}" 
    data-url="http://www.slidify.org/samples/impressjs">  
  </a>
  {{/ twitter }}
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

