<div class="hero-unit">
 <div class="container" style="padding-top:50px;">
   <div class="row-fluid">
     <div class='span10 offset1'>
     <div class="span5">
       {{{ video }}}
     </div>
     <div class="span5 offset2">
      {{{ header }}}
      {{{ content }}} 
     </div>
     </div>
   </div>
 </div>
</div>
<section id="social-buttons">
  <span class="watch">
   <iframe src="http://ghbtns.com/github-btn.html?user=ramnathv&repo=slidify&type=watch&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
  </span>
  <span class="fork">
    <iframe src="http://ghbtns.com/github-btn.html?user=ramnathv&repo=slidify&type=fork&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
  </span>
  <span class="follow">
    <iframe src="http://ghbtns.com/github-btn.html?user=ramnathv&repo=slidify&type=follow&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="250px" height="30px"></iframe>
  </span>
</section>

