.background {
  color: #F7F7F7;
}

.number {
  color: #00000;
}

.functioncall {
  color: #800054;
  font-weight: bolder;
}

.string {
  color: #9999FF;
}

.keyword {
  font-weight: bolder;
  color: black;
}

.argument {
  color: #B04005;
}

.comment {
  color: #2E9957;
}

.roxygencomment {
  color: #707AB3;
}

.formalargs {
  color: #B04005;
}

.eqformalargs {
  color: #B04005;
}

.assignement {
  font-weight: bolder;
  color: #00000;
}

.package {
  color: #96B525;
}

.slot {
  font-style: italic;
}

.symbol {
  color: #00000;
}

.prompt {
  color: #444444;
}

pre {
  background: #f7f7f7;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #444444;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}