.background{
  color: #202020 ;
}
.number{
  color: #87df71 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #87ed7e ;
}
.string{
  color: #87df71 ;
}
.keyword{
  font-weight: bolder ;
  color: #7ec0ee;
}
.argument{
  color: #d0d0d0 ;
}
.comment{
  color: #d0d0a0 ;
}
.roxygencomment{
  color: #d0d0a0;
}
.formalargs{
  color: #d0d0d0;
}
.eqformalargs{
  color: #d0d0d0;
}
.assignement{
  color: #d0d0d0;
}
.package{
  font-weight: bolder;
  color: #f09479;
}
.slot{
  font-style:italic;
  color: #d0d0d0;
}
.symbol{
  color: #d0d0d0 ;
}
.prompt{
  color: #d0d0d0 ;
}

pre {
  background: #202020;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #d0d0d0;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}