.background{
  color: #000000 ;
}
.number{
  color: #90d0ff ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #ffffa1 ;
}
.string{
  color: #90d0ff ;
}
.keyword{
  font-weight: bolder ;
  color: #ffa0ff;
}
.argument{
  color: #f0f0f8 ;
}
.comment{
  color: #c0c0d0 ;
}
.roxygencomment{
  color: #c0c0d0;
}
.formalargs{
  color: #f0f0f8;
}
.eqformalargs{
  color: #f0f0f8;
}
.assignement{
  color: #f0f0f8;
}
.package{
  font-weight: bolder;
  color: #ffc864;
}
.slot{
  font-style:italic;
  color: #f0f0f8;
}
.symbol{
  color: #f0f0f8 ;
}
.prompt{
  color: #f0f0f8 ;
}

pre {
  background: #000000;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #f0f0f8;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}