.background{
  color: #303030 ;
}
.number{
  color: #92d4ff ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #7979db ;
}
.string{
  color: #92d4ff ;
}
.keyword{
  font-weight: bolder ;
  color: #dcdc78;
}
.argument{
  color: #f0f0f0 ;
}
.comment{
  color: #c0c0c0 ;
}
.roxygencomment{
  color: #c0c0c0;
}
.formalargs{
  color: #f0f0f0;
}
.eqformalargs{
  color: #f0f0f0;
}
.assignement{
  color: #f0f0f0;
}
.package{
  font-weight: bolder;
  color: #60f0a8;
}
.slot{
  font-style:italic;
  color: #f0f0f0;
}
.symbol{
  color: #f0f0f0 ;
}
.prompt{
  color: #f0f0f0 ;
}

pre {
  background: #303030;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #f0f0f0;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}