<div id="help" class="sidebar hidden">
  <h2>Help</h2>
  <table>
    <caption>Help</caption>
    <tr>
      <th>Table of Contents</th>
      <td>t</td>
    </tr>
    <tr>
      <th>Exposé</th>
      <td>ESC</td>
    </tr>
    <tr>
      <th>Full screen slides</th>
      <td>e</td>
    </tr>
    <tr>
      <th>Presenter View</th>
      <td>p</td>
    </tr>
    <tr>
      <th>Source Files</th>
      <td>s</td>
    </tr>
    <tr>
      <th>Slide Numbers</th>
      <td>n</td>
    </tr>
    <tr>
      <th>Toggle screen blanking</th>
      <td>b</td>
    </tr>
    <tr>
      <th>Show/hide slide context</th>
      <td>c</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Help</th>
      <td>h</td>
    </tr>
  </table>
</div>
