.background{
  color: #0f0f0f ;
}
.number{
  color: #dfaf87 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #cc9966 ;
}
.string{
  color: #ffff77 ;
}
.keyword{
  font-weight: bolder ;
  color: #66aaff;
}
.argument{
  color: #f0f0f0 ;
}
.comment{
  color: #33ff00 ;
}
.roxygencomment{
  color: #33ff00;
}
.formalargs{
  color: #f0f0f0;
}
.eqformalargs{
  color: #f0f0f0;
}
.assignement{
  color: #f0f0f0;
}
.package{
  font-weight: bolder;
  color: #66ff99;
}
.slot{
  font-style:italic;
  color: #f0f0f0;
}
.symbol{
  color: #ff00cc ;
}
.prompt{
  color: #f0f0f0 ;
}

pre {
  background: #0f0f0f;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #f0f0f0;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}