.background{
  color: #fff4e8 ;
}
.number{
  color: #00884c ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #30a188 ;
}
.string{
  color: #00884c ;
}
.keyword{
  font-weight: bolder ;
  color: #80a030;
}
.argument{
  color: #404040 ;
}
.comment{
  color: #ff5050 ;
}
.roxygencomment{
  color: #ff5050;
}
.formalargs{
  color: #404040;
}
.eqformalargs{
  color: #404040;
}
.assignement{
  color: #404040;
}
.package{
  font-weight: bolder;
  color: #b06c58;
}
.slot{
  font-style:italic;
  color: #404040;
}
.symbol{
  color: #404040 ;
}
.prompt{
  color: #404040 ;
}

pre {
  background: #fff4e8;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #404040;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}