.background{
  color: #272822 ;
}
.number{
  color: #AE81FF ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #95f067 ;
}
.string{
  color: #E6DB74 ;
}
.keyword{
  font-weight: bolder ;
  color: #F92672;
}
.argument{
  color: #F8F8F2 ;
}
.comment{
  color: #75715E ;
}
.roxygencomment{
  color: #75715E;
}
.formalargs{
  color: #F8F8F2;
}
.eqformalargs{
  color: #F8F8F2;
}
.assignement{
  color: #F8F8F2;
}
.package{
  font-weight: bolder;
  color: #66D9EF;
}
.slot{
  font-style:italic;
  color: #F8F8F2;
}
.symbol{
  color: #F8F8F2 ;
}
.prompt{
  color: #F8F8F2 ;
}

pre {
  background: #272822;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #f8f8f2;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}