.background{
  color: #000035 ;
}
.number{
  color: #f87ff4 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #13d8ef ;
}
.string{
  color: #ff7f66 ;
}
.keyword{
  font-weight: bolder ;
  color: #f8c50b;
}
.argument{
  color: #008bff ;
}
.comment{
  color: #ffbb00 ;
}
.roxygencomment{
  color: #ffbb00;
}
.formalargs{
  color: #008bff;
}
.eqformalargs{
  color: #008bff;
}
.assignement{
  color: #008bff;
}
.package{
  font-weight: bolder;
  color: #e1e72f;
}
.slot{
  font-style:italic;
  color: #008bff;
}
.symbol{
  color: #ffffff ;
}
.prompt{
  color: #008bff ;
}

pre {
  background: #000035;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #008bff;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}