.background{
  color: #004A41 ;
}
.number{
  color: #00A7F7 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #ffffff ;
}
.string{
  color: #00DF00 ;
}
.keyword{
  font-weight: bolder ;
  color: #DEDE00;
}
.argument{
  color: #71D289 ;
}
.comment{
  color: #00C5E7 ;
}
.roxygencomment{
  color: #00C5E7;
}
.formalargs{
  color: #71D289;
}
.eqformalargs{
  color: #71D289;
}
.assignement{
  color: #71D289;
}
.package{
  font-weight: bolder;
  color: #F269E4;
}
.slot{
  font-style:italic;
  color: #71D289;
}
.symbol{
  color: #71D289 ;
}
.prompt{
  color: #71D289 ;
}

pre {
  background: #004a41;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #71d289;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}