.background{
  color: #1c1c1c ;
}
.number{
  color: #dfaf87 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #deb787 ;
}
.string{
  color: #ffffaf ;
}
.keyword{
  font-weight: bolder ;
  color: #87afdf;
}
.argument{
  color: #d0d0d0 ;
}
.comment{
  color: #808080 ;
}
.roxygencomment{
  color: #808080;
}
.formalargs{
  color: #d0d0d0;
}
.eqformalargs{
  color: #d0d0d0;
}
.assignement{
  color: #d0d0d0;
}
.package{
  font-weight: bolder;
  color: #87de8c;
}
.slot{
  font-style:italic;
  color: #d0d0d0;
}
.symbol{
  color: #d0d0d0 ;
}
.prompt{
  color: #d0d0d0 ;
}

pre {
  background: #1c1c1c;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #d0d0d0;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}