<meta charset="utf-8" />
<meta name="viewport" content="width=1024" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>{{{ title }}}</title>
<meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
<meta name="author" content="{{{ author }}}" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
<link href="{{url.framework}}/css/impress-demo.css" rel="stylesheet" />
<link rel="shortcut icon" href="{{url.framework}}/favicon.png" />
<link rel="apple-touch-icon" href="{{url.framework}}/apple-touch-icon.png" />
<link href="{{url.highlighter}}/css/{{hitheme}}.css" rel="stylesheet" />
