.background{
  color: #d6d6d6 ;
}
.number{
  color: #b85d00 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #005400 ;
}
.string{
  color: #d10000 ;
}
.keyword{
  font-weight: bolder ;
  color: #00007f;
}
.argument{
  color: #000000 ;
}
.comment{
  color: #0000c3 ;
}
.roxygencomment{
  color: #0000c3;
}
.formalargs{
  color: #000000;
}
.eqformalargs{
  color: #000000;
}
.assignement{
  color: #000000;
}
.package{
  font-weight: bolder;
  color: #540054;
}
.slot{
  font-style:italic;
  color: #000000;
}
.symbol{
  color: #000000 ;
}
.prompt{
  color: #000000 ;
}

pre {
  background: #d6d6d6;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}