.background{
  color: #002b36 ;
}
.number{
  color: #dc322f ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #cb4b16 ;
}
.string{
  color: #dc322f ;
}
.keyword{
  font-weight: bolder ;
  color: #cb4b16;
}
.argument{
  color: #839496 ;
}
.comment{
  color: #586e75 ;
}
.roxygencomment{
  color: #586e75;
}
.formalargs{
  color: #839496;
}
.eqformalargs{
  color: #839496;
}
.assignement{
  color: #839496;
}
.package{
  font-weight: bolder;
  color: #859900;
}
.slot{
  font-style:italic;
  color: #839496;
}
.symbol{
  color: #93a1a1 ;
}
.prompt{
  color: #839496 ;
}

pre {
  background: #002b36;
  font-family: "Consolas", Monaco, monospace;
  font-size: 20px;
  line-height: 24px;
  color: #839496;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
  border-radius:10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px 10px;
}

code {
  font-family: Consolas, monospace;
  color: #B22222; /*firebrick*/
  font-size: 95%;
}